# Auto detect text files and perform LF normalization
* text=auto
UnityProject/Assets/Prefabs/IceTemple.prefab filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/Jon[[:space:]]Fire[[:space:]]level/LightingData.asset filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/Overworld/OcclusionCullingData.asset filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/Overworld.unity filter=lfs diff=lfs merge=lfs -text
UnityProject/Assets/Scenes/PhantomTemple.unity filter=lfs diff=lfs merge=lfs -text
